  /*-- scss:defaults --*/

  

/*-- scss:rules --*/
.quarto-title-author{
  position: absolute;
  right: 10px;
  clear: both; 
}
#title-slide{
  text-align: right;
  }

.title{
  position:relative;
  left: 35%;
  width: 60%;
  display: block;
}
