  /*-- scss:defaults --*/

  

/*-- scss:rules --*/
  .reveal h1 {
    background-color: #FFFFFF!important;
    text-align: right;
  }

  .reveal h2 {
    background-color: #FFFFFF!important;}
  .quarto-title-authors{
    background-color: #FFFFFF!important;}
    .quarto-title-author-name{
      text-align: right;
    }