  /*-- scss:defaults --*/

  

/*-- scss:rules --*/
.quarto-title-authors{
  position: absolute;
  right: 10px
}

#title-slide{
  position:absolute !important; 
  width: 60% !important; 
  right:10px !important;
  text-align: right !important;
  }
